.container{
    display: flex;
    width: 400px;
    height: 300px;
}

.contenuto{
    overflow-x: scroll;
    width: 50%;
    text-align: left;
}

.list{
    display: flex;
    gap: 200px;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bottone{
    width: 100%;
}

.title{
    font-size: 30px;
    color: #f0f0f0;
    text-align: center;
}

.buttons{
    margin-top: 150px;

}

.gestioneSegnalazioni{
    margin-top: 20px;
}

.gestioneUtenti{

}

html, body {
    height: 100%;
    margin: 0;
}

.main-wrap{
    display: flex;
}

.sideBar{
    width: 100px;
    height: 100%;
    background-color: #0f2027;
    position: absolute;
}

.upperBar{
    width: 100%;
    height: 100px;
    background-color: #0f2027;
    position: absolute;
}
