html, body{
    margin: 0;
    padding: 0;

}

.upper-board{
    height: 100px;

}

.recommended {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;

}

.title{
    font-size: 30px;
    color: #f0f0f0;
    text-align: center;
}

.container-wrap{
    overflow-y: scroll;
    height: 900px;
}

.sideBar{
    width: 100px;
    height: 100%;
    background-color: #0f2027;
    position: absolute;
}

.upperBar{
    width: 100%;
    height: 100px;
    background-color: #0f2027;
    position: absolute;


}

.main-wrap{
    display: flex;
}

.container{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    width: 70%;
    text-align: center;

}

.card {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 125px;
    object-fit: cover;
}