html, body {
    height: 100%;
    margin: 0;
}

.main-wrap{
    display: flex;
}
.header{
    text-align: center;
    background-color: #0f2027;
    height: 100px;
    width: 100%;
    justify-content: center;

}

.title{
    font-size: 30px;
    color: #f0f0f0;
    text-align: center;
    margin: auto;
}

.cardList{
    height: 100%;
    width: 100%;
    margin: 150px 50px 50px 150px;

}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}


.searchButton{
    height: 40px;
    width: 60px;
    font-size: 15px;

}

.containerCard{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 100px;
    overflow-y: scroll;
}


.container{
    display: flex;
    width: 400px;
    height: 300px;
}

.contenuto{
    overflow-x: scroll;
    width: 50%;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.btn-danger, .btn-primary{
    width: 100%;
}

.bottoni{
    margin-top: 25px;
}



