:root {
    --background-color: #151515;
    --background-secondary: #212529;
    --primary: #5730aa;
    --secondary: #2c264a;
    --lighter: #b093ed;

    /* aggiunti */
    --danger: #ee3128;
    --success: #75a34e;
    --warning: #e0a55c;
}
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
html
{
    background-color: var(--background-color);
}
body
{
    background-color: var(--background-color);
}
.button {
    border-radius: 20px;
}
.button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.02);
    z-index: 10;
}
.button-primary {
    background-color: var(--primary);
    border: transparent;
    color: whitesmoke;
}
.button-primary:disabled {
    background-color: var(--secondary);
    border: transparent;
}
.button-primary:hover {
    background-color: whitesmoke;
    color: var(--secondary);
}
.button-secondary {
    background-color: var(--background-secondary);
    border-color: whitesmoke;
    color: whitesmoke;
}
.button-secondary:hover {
    background-color: whitesmoke;
    color: var(--background-secondary);
}

.button-delete {
    background-color: var(--danger);
    border: transparent;
    color: whitesmoke;
}

.button-delete:hover {
    background-color: whitesmoke;
    color: var(--danger);
}