<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script defer src="js/togglePassword.js"></script>
    <script defer src="js/passwordRequirements.js"></script>
    <link rel="stylesheet" href="css/authentication.css">
  </head>

  <body class="container">
    <form action="changePassword" method="post">
      <h1>Change your password</h1>
      <div th:text="|Welcome ${session.user.username}, you can change your password here|"></div>
      <div class="form-group input-control">
        <label for="password">New password*:</label>
        <div class="d-inline-flex w-100 justify-content-between">
          <input class="form-control" style="width: 96%" type="password" placeholder="New password" id="password" name="password" autofocus>
          <i class="far fa-eye" style="width: 3%;" id="togglePassword"></i>
        </div>
        <div th:if="${session.status == T(com.webapplication.gamespring.controller.Status).EMPTY_FIELDS}" class="error">Mandatory field</div>
        <div th:if="${session.status == T(com.webapplication.gamespring.controller.Status).INVALID_PASSWORD}">
          <div class="error">Invalid password</div>
          <button type="button" onclick="showPasswordRequirements()">?</button>
        </div>
        <div th:if="${session.status == T(com.webapplication.gamespring.controller.Status).PASSWORD_UPDATED}" class="success">Password updated!</div>
        <div th:if="${session.status == T(com.webapplication.gamespring.controller.Status).SAME_PASSWORDS}" class="error">New password can't be the same as the previous one</div>

      </div>
      <div>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
      <div>
        <a href="login">Back to login</a>
      </div>
    </form>
  </body>
</html>