<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                    <!--<a class="nav-link" href="http://localhost:4200">Registrati</a> --> <!-- visualizza pagina di registrazione fatta in Angular -->
                    <a class="nav-link" th:href="|http://localhost:4200/registration?jsessionid=${session.sessionId}|">Registrati (Debug sessionId)</a>
                </li>
            </ul>
        </nav>
        <form action="recommended" method="post">
            <button type="submit" class="btn btn-primary">consigliati</button>
        </form>
        <form action="userList" method="get">
            <button type="submit" class="btn btn-primary">listaUtenti</button>
        </form>
        <form action="reports" method="get">
            <button type="submit" class="btn btn-primary">listaRecensioni</button>
        </form>
    </body>
</html>