<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script defer src="js/togglePassword.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/authentication.css">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/header.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg position-sticky top-0" >
            <a class="navbar-brand text-white" href="#">Navbar</a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item active header-item">
                        <a class="nav-link header-link" href="http://localhost:4200/games">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item header-item">
                        <a class="nav-link header-link" href="http://localhost:4200/news" >News</a>
                    </li>
                    <li class="nav-item header-item">
                        <a class="nav-link header-link" href="#">About us</a>
                    </li>
                    <li class="nav-item dropdown header-item">
                        <a class="nav-link dropdown-toggle header-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" style="background-color: var(--background-secondary)">
                            <a th:if="!${session.sessionId}" class="dropdown-item dropdown-link" href="http://localhost:8080/login">Login</a>
                            <a th:if="${session.sessionId}" class="dropdown-item dropdown-link" href="logout">Logout</a>
                            <a class="dropdown-item dropdown-link" href="http://localhost:4200/registration">Sign up</a>
                            <a th:if="${session.sessionId}" class="dropdown-item dropdown-link" href="http://localhost:8080/wishlist">Wishlist</a>
                            <a th:if="${session.sessionId}" class = "dropdown-item dropdown-link" href="http://localhost:8080/recommended">Consigliati</a>
                            <a th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}" class = "dropdown-item dropdown-link" href="http://localhost:8080/userList">Lista Utenti</a>
                            <a th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}" class = "dropdown-item dropdown-link" href="http://localhost:8080/reports">Lista Segnalazioni</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <section id ="reg-holder">
                <form action="login" method="post" id="loginForm" style="background-color: var(--background-secondary);border-radius: 30px;padding: 2% 0">
                    <h1 class="text-center heading">Login</h1>

                    <section class="form-group d-flex w-100 justify-content-center" style="padding: 0.2% 0">
                        <div class="w-50">
                            <label style="color: whitesmoke" for="username">Username*:</label>
                            <input type="text" class="form-control" placeholder="Enter username" id="username" name="username" autofocus>
                            <div th:if="${session.emptyFields == true}" class="error-message">Mandatory field</div>
                        </div>
                    </section>

                    <div class="d-flex justify-content-center w-100">
                        <div class="w-50">
                            <label for="password" style="color: whitesmoke">Password*:</label>
                        </div>
                    </div>
                    <section class="form-group d-flex w-100 justify-content-center" style="padding: 0.2% 0">
                        <div class="w-50 d-inline-flex justify-content-between">
                            <input class="form-control" style="width: 90%" type="password" placeholder="Enter password" id="password" name="password">
                            <i class="far fa-eye align-middle pt-2" style="width: 8%;color: whitesmoke" id="togglePassword"></i>
                            <div th:if="${session.emptyFields == true}" class="error-message">Mandatory field</div>
                        </div>
                    </section>

                    <section class="d-flex w-100 justify-content-center">
                        <div class="w-50 d-flex row" style="padding: 0px 0px 30px;">
                            <button type="submit" class="btn button button-primary w-100" id="loginButton">Login</button>
                        </div>
                    </section>

                    <section class="d-flex w-100 justify-content-center">
                        <div class="w-50 d-flex row py-1">
                           <button class="btn button button-secondary w-100">
                               <a href="http://localhost:4200/registration" class="button-link">Sign up</a>
                           </button>
                        </div>
                    </section>
                    <section class="d-flex w-100 justify-content-center">
                        <div class="w-50 d-flex row py-1">
                            <button class="btn button button-secondary w-100">
                                <a href="recoverAccount" class="button-link">Recover password</a>
                            </button>

                        </div>
                    </section>



                    <div>
                        <label>Hai dimenticato la password?</label>

                    </div>
                </form>
            </section>

        </div>

    </body>
</html>