<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/javascript.js"></script>
    <link rel="stylesheet" href="css/prova.css" />
</head>
<body>

    <header class="headerPrincipale">
    <h1>Gestione Account</h1>
    <button type="button" class="admin">Amministratore</button>
    <button type="button" class="personal-account">Personal account</button>
    </header>

    <div>
    <h4 class="ban-account">Gestione account segnalati</h4>
    </div>
    <div>
    <form action="modifyUser" method="post" >
        <table>
            <tr class="text-center">
                <th class="label_username">Username</th>
                <th class="label_password">Password</th>
                <th class="label_email">Email</th>
                <th class="label_admin">Amministratore</th>
                <th class="label_ban">Bandito</th>
            </tr>
            <tr class="text-center">
                <td><input name="username" th:value="${modify_utente.username}" readonly></input>...</td>
                <td><input name="password" th:value="${modify_utente.password}"></input>...</td>
                <td><input name="email" th:value="${modify_utente.email}"></input>...</td>
                <td><input name="admin" type="checkbox" th:checked="${modify_utente.amministratore}" class="checkbox_admin"></input></td>
                <td><input name="ban" type="checkbox" th:checked="${modify_utente.bandito}" class="checkbox_ban"></input></td>
            </tr>
            <tr>
                    <td><button type="submit" value="Submit" class="btn btn-info">modifica dati account</button></td>
            </tr>
        </table>
    </form>

    <form action="deleteUser" method="post">
        <input type="hidden" name="username" th:value="${modify_utente.username}">
        <button onclick="alertDelete()" class="btn btn-danger">elimina account</button>
    </form>



</body>
</html>