<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/modifyUser.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

<header class="header">
    <h1 class="title">Consigliati</h1>
</header>


    <div class="main-wrap">
    <form id="form" action="applyModify" method="post" onsubmit="formValidate()">

        <div class="userData">
            <div class="div-username">
                <p class="label_username">Username</p>
                <input name="username" th:value="${modify_utente.username}" readonly></input>
            </div>

            <div class="div-password">
                <p class="label_password">Password</p>
                <input id="password" name="password" placeholder="Nuova Password" required></input>
            </div>


            <div class="div-email">
                <p class="label_email">Email</p>
                <input id="email" type="email" name="email" th:value="${modify_utente.email}" required></input>
            </div>
        </div>

        <div class="div-checkbox">
            <div>
                <p class="label_admin">Admin</p>
                <input name="admin" type="checkbox" th:checked="${modify_utente.amministratore}" class="checkbox_admin"></input>
            </div>

            <div>
                <p class="label_ban">Bandito</p>
                <input name="ban" type="checkbox" th:checked="${modify_utente.bandito}" class="checkbox_ban"></input>
            </div>
        </div>

        <div class="modifyDiv">
            <button class="btn btn-success" type="submit" value="Submit">modifica dati account</button>
        </div>
    </form>

    <form action="deleteUser" method="post">
        <input type="hidden" name="username" th:value="${modify_utente.username}">
        <div class="deleteDiv">
            <button onclick="alertDelete()" class="btn btn-danger" >elimina account</button>
        </div>
    </form>

    </div>

    <script src="js/modifyUser.js"></script>

</body>
</html>