<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/recensioniSegnalate.css">
</head>
<body>

<div class="list">

    <div th:each="segnalazione : ${recensioni_segnalate}">

        <div class="main-wrap">
            <div class="titolo">
                <h1 th:text="${segnalazione.recensione.titolo}"></h1>
            </div>

            <div class="container">

                <div class="contenuto">
                    <p th:text="${segnalazione.recensione.contenuto}"></p>
                </div>

                <div class="dati_utente">
                    <p th:text="${segnalazione.utente}"></p>
                    <p th:text="${segnalazione.motivazione}"></p>

                </div>

            </div>

            <div class="bottoni">

                <form action="eliminaRecensione" method="get">
                    <input type="hidden" name="utente" th:value="${segnalazione.utente}">
                    <input type="hidden" name="recensione" th:value="${segnalazione.recensione.id}">
                    <button type="submit" class="bottone">elimina Recensione</button>
                </form>

                <form action="eliminaSegnalazione" method="get">
                    <input type="hidden" name="utente" th:value="${segnalazione.utente}">
                    <input type="hidden" name="recensione" th:value="${segnalazione.recensione.id}">
                    <button type="submit" class="bottone">elimina segnalazione</button>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>