<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="css/recommended.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="main-wrap">

    <header class="header">
        <h1 class="title">Consigliati</h1>
    </header>

    <div class="container-wrap">
        <div class="recommended">
            <h2 th:text="${gen1}" style="text-transform: uppercase"></h2>
            <div class=container id="container1"></div>
            <h2 th:text="${gen2}" style="text-transform: uppercase"></h2>
            <div class=container id="container2"></div>
            <h2 th:text="${gen3}" style="text-transform: uppercase"></h2>
            <div class=container id="container3"></div>
        </div>
    </div>

<p hidden id="api1" th:text="${api1}">...</p>
<p hidden id="api2" th:text="${api2}">...</p>
<p hidden id="api3" th:text="${api3}">...</p>


</div>


<script src="js/recommended.js"></script>
</body>
</html>