<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/authentication.css">
  </head>

  <body class="container">
    <form action="recoverAccount" method="post">
      <h1>Forgot your password?</h1>
      <p>We will send you an email to change your password</p>
      <div class="form-group input-control">
        <label for="username">Username*:</label>
        <input th:value="${session.user != null} and ${session.status == T(com.webapplication.gamespring.controller.Status).SUCCESS} ? ${session.user.username} : ''"
               type="text" class="form-control" placeholder="Enter your username" id="username" name="username" autofocus>

        <div th:if="${session.status == T(com.webapplication.gamespring.controller.Status).EMPTY_FIELDS}" class="error">Mandatory field</div>
        <div th:if="${session.status == T(com.webapplication.gamespring.controller.Status).NONEXISTENT_ACCOUNT}" class="error">This user doesn't exist</div>
        <div th:if="${session.status == T(com.webapplication.gamespring.controller.Status).COULDNT_SEND_EMAIL}" class="error">We couldn't sed the email, please retry</div>
        <div th:if="${session.status == T(com.webapplication.gamespring.controller.Status).SUCCESS}">
          <div class="success" th:if="${session.user != null}" th:text="|Email sent to ${session.user.email}|"></div>
          <p>Can't see your email?</p>
          <!--<a href="recoverAccount">Resend email</a>-->
        </div>
      </div>
      <div th:if="${session.status != T(com.webapplication.gamespring.controller.Status).SUCCESS}">
        <button type="submit" class="btn btn-primary">Send email</button>
      </div>
      <div th:unless="${session.status != T(com.webapplication.gamespring.controller.Status).SUCCESS}">
        <button type="submit" class="btn btn-primary">Resend email</button>
      </div>
    </form>
    <div>
      <a href="login">Back to login</a>
    </div>
  </body>
</html>