<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/report.css">
    <link rel="stylesheet" href="css/header.css">



</head>
<body>


<nav class="navbar navbar-expand-lg position-sticky top-0" >
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item active header-item">
                <a class="nav-link header-link" href="http://localhost:4200/games">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item header-item">
                <a class="nav-link header-link" href="http://localhost:4200/news" >News</a>
            </li>
            <li class="nav-item header-item">
                <a class="nav-link header-link" href="#">About us</a>
            </li>
            <li class="nav-item dropdown header-item">
                <a class="nav-link dropdown-toggle header-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" style="background-color: var(--background-secondary)">
                    <a th:if="!${session.sessionId}" class="dropdown-item dropdown-link" href="http://localhost:8080/login">Login</a>
                    <a th:if="${session.sessionId}" class="dropdown-item dropdown-link" href="logout">Logout</a>
                    <a class="dropdown-item dropdown-link" href="http://localhost:4200/registration">Sign up</a>
                    <a th:if="${session.sessionId}" class="dropdown-item dropdown-link" href="http://localhost:8080/wishlist">Wishlist</a>
                    <a th:if="${session.sessionId}" class = "dropdown-item dropdown-link" href="http://localhost:8080/recommended">Consigliati</a>
                    <a th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}" class = "dropdown-item dropdown-link" href="http://localhost:8080/userList">Lista Utenti</a>
                    <a th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}" class = "dropdown-item dropdown-link" href="http://localhost:8080/reports">Lista Segnalazioni</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="main-wrap">

    <div class="cardList">
        <div class="containerCard">
            <div th:each="segnalazione : ${recensioni_segnalate}">

                <div class="card" style="width: 18rem;background-color: var(--background-secondary);">
                    <div class="card-body">

                        <h4 th:text="${segnalazione.recensione.titolo}" style="text-align: center; color: whitesmoke"></h4>

                        <a th:href="|http://localhost:4200/recensioni/${segnalazione.recensione.id}|" class="text" >Link alla Recensione</a>

                        <p th:text="'Segnalata da: ' +${segnalazione.utente}" class="text" style="color: whitesmoke"></p>

                        <div class="scroller">
                            <p th:text="'Motivazione: ' +${segnalazione.motivazione}" style="color: whitesmoke"></p>
                        </div>

                    </div>
                </div>

                    <div class="bottoni">

                        <form action="deleteReview" method="get">
                            <input type="hidden" name="utente" th:value="${segnalazione.utente}">
                            <input type="hidden" name="recensione" th:value="${segnalazione.recensione.id}">
                            <button type="submit" class="btn button button-primary">Elimina Segnalazione</button>
                        </form>

                        <form action="deleteReports" method="get">
                            <input type="hidden" name="utente" th:value="${segnalazione.utente}">
                            <input type="hidden" name="recensione" th:value="${segnalazione.recensione.id}">
                            <button type="submit" class="btn button button-delete">Elimina Recensione</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>