<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/report.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<header class="header">
    <h1 class="title">Gestione Segnalazioni</h1>
    <div class="buttons">
        <form action="userList" method="get" class="gestioneUtenti">
            <button type="submit" value="Submit">Gestione Utenti</button>
        </form>
        <form action="reports" method="get" class="gestioneSegnalazioni">
            <button type="submit" value="Submit">Gestione Segnalazioni</button>
        </form>
    </div>
</header>

<div class="main-wrap">

    <div class="cardList">
        <div class="containerCard">
            <div th:each="segnalazione : ${recensioni_segnalate}">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">

                        <h4 th:text="${segnalazione.recensione.titolo}" style="text-align: center"></h4>

                        <a th:href="|http://localhost:4200/recensioni/${segnalazione.recensione.id}|" class="text">Link alla Recensione</a>

                        <p th:text="'Segnalata da: ' +${segnalazione.utente}" class="text"></p>

                        <div class="scroller">
                            <p th:text="'Motivazione: ' +${segnalazione.motivazione}"></p>
                        </div>

                    </div>
                </div>

                    <div class="bottoni">

                        <form action="deleteReview" method="get">
                            <input type="hidden" name="utente" th:value="${segnalazione.utente}">
                            <input type="hidden" name="recensione" th:value="${segnalazione.recensione.id}">
                            <button type="submit" class="btn btn-primary">Elimina Segnalazione</button>
                        </form>

                        <form action="deleteReports" method="get">
                            <input type="hidden" name="utente" th:value="${segnalazione.utente}">
                            <input type="hidden" name="recensione" th:value="${segnalazione.recensione.id}">
                            <button type="submit" class="btn btn-danger">Elimina Recensione</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>