<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/userList.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/authentication.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
<nav class="navbar navbar-expand-lg position-sticky top-0">
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item active header-item">
                <a th:if="${session.sessionId} AND ${session.user}" class="nav-link header-link" th:href="|http://localhost:4200/games?jsessionid=${session.sessionId}|">Home <span class="sr-only">(current)</span></a>
                <a th:unless="${session.user} AND ${session.sessionId}" class="nav-link header-link" href="http://localhost:4200/games">Home</a>
            </li>
            <li class="nav-item header-item">
                <a th:if="${session.user} AND ${session.sessionId}" class="nav-link header-link" th:href="|http://localhost:4200/news?jsessionid=${session.sessionId}|">News</a>
                <a th:unless="${session.user} AND ${session.sessionId}" class="nav-link header-link" href = "http://localhost:4200/news">News</a>
            </li>
            <li class="nav-item header-item">
                <a class="nav-link header-link" href="#">About us</a>
            </li>
            <li class="nav-item dropdown header-item">
                <a class="nav-link dropdown-toggle header-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" style="background-color: var(--background-secondary)">
                    <a th:if="!${session.sessionId}" class="dropdown-item dropdown-link" href="http://localhost:8080/login">Login</a>
                    <a th:if="${session.sessionId}" class="dropdown-item dropdown-link" href="logout">Logout</a>
                    <a class="dropdown-item dropdown-link" href="http://localhost:4200/registration">Sign up</a>
                    <a th:if="${session.sessionId}" class="dropdown-item dropdown-link" href="http://localhost:8080/wishlist">Wishlist</a>
                    <a th:if="${session.sessionId}" class = "dropdown-item dropdown-link" href="http://localhost:8080/recommended">Recommended for you</a>
                    <a th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}" class = "dropdown-item dropdown-link" href="http://localhost:8080/userList">Users List</a>
                    <a th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}" class = "dropdown-item dropdown-link" href="http://localhost:8080/reports">Reports List</a>
                    <a th:if="${session.sessionId} AND ${session.user}" class = "dropdown-item dropdown-link" th:href="|http://localhost:4200/reviews?jsessionid=${session.sessionId}|">Your Reviews</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid py-4">
    <div class = "w-100 text-center" th:unless="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}">
        <h1 class = "text-white" style="font-weight: bold">Not Authorized</h1>
        <a class = "btn btn-lg button button-primary w-25">Back to home page</a>
    </div>
    <div class = "w-100" th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}">
        <form action="search" method="post" class="d-flex w-100 justify-content-center">
            <input type="text" name="keyword" placeholder="Write a username..." class="searchInput">
            <button type="submit" class="btn button button-primary ml-2" >Search</button>
        </form>
        <div class = "w-100">
            <div th:if="${lista_utenti.isEmpty()}" class = "d-flex w-100 justify-content-center">
                <p class="text-white" style="font-size: 60px;font-weight: bold">Nessun utente trovato</p>
            </div>
            <div class="row py-2" th:if="${!lista_utenti.isEmpty()}">
                <h1 class = "col-12 text-center text-white" style="font-weight: bold">List of Users</h1>
                <div th:each="utenti,iterator: ${lista_utenti}" class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2" style="background-color: var(--background-color);">
                    <div class = "card w-100 h-100" style="background-color: var(--background-secondary)">
                        <div class="card-body">
                            <h3 class="card-title text-white" th:text="'Username: ' + ${utenti.username}"></h3>
                            <p class="text-white" th:text="'Email: ' +${utenti.email}"></p>
                            <div class="form-check">
                                <input name="admin" type="checkbox" th:checked="${utenti.amministratore}" class="form-check-input" id="adminCheckbox" onclick="this.checked = !this.checked">
                                <label class="form-check-label text-white" for="adminCheckbox">Admin</label>
                            </div>
                            <div class="form-check">
                                <input name="admin" type="checkbox" th:checked="${utenti.bandito}" class="form-check-input" id="bannedCheckbox" onclick="this.checked = !this.checked">
                                <label class="form-check-label text-white" for="bannedCheckbox">Banned</label>
                            </div>
                            <form action="modifyUser" method="post" class = "d-flex justify-content-center py-2">
                                <input type="hidden" name="username" th:value="${utenti.username}">
                                <button type="submit" value="Submit" class="btn button button-primary">Modify Account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>