<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"     xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<header class="headerPrincipale">
    <h1>Gestione Account</h1>
    <button type="button" class="admin">Amministratore</button>
    <button type="button" class="personal-account">Personal account</button>
</header>



    <div>
        <h4 class="ban-account">Gestione account segnalati</h4>
    </div>

<div class="container mt-5">
    <form action="search" method="post">
        <input type="text" name="keyword" placeholder="Cerca utente per username" size="40" >
        <button type="submit" class="btn btn-info" >Search</button>
    </form>

</div>

    <div th:each="utenti, iterator : ${lista_utenti}" class="user-list">
        <div th:unless="${iterator.index > 4}">
            <td th:text="${utenti.username}">...</td>
            <td th:text="${utenti.password}">...</td>
            <td>
                <form action="openModifyUser" method="post">
                    <input type="hidden" name="username" th:value="${utenti.username}">
                    <button type="submit" value="Submit" class="btn btn-info">modifica account</button>
                </form>
            </td>
        </div>
    </div>

</body>
</html>