<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title th:text="|${utente.username} Wishlist|"></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="js/wishlist.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg position-sticky top-0">
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ">
                <li class="nav-item active header-item">
                    <a th:if="${session.sessionId} AND ${session.user}" class="nav-link header-link" th:href="|http://localhost:4200/games?jsessionid=${session.sessionId}|">Home <span class="sr-only">(current)</span></a>
                    <a th:unless="${session.user} AND ${session.sessionId}" class="nav-link header-link" href="http://localhost:4200/games">Home</a>
                </li>
                <li class="nav-item header-item">
                    <a th:if="${session.user} AND ${session.sessionId}" class="nav-link header-link" th:href="|http://localhost:4200/news?jsessionid=${session.sessionId}|">News</a>
                    <a th:unless="${session.user} AND ${session.sessionId}" class="nav-link header-link" href = "http://localhost:4200/news">News</a>
                </li>
                <li class="nav-item header-item">
                    <a class="nav-link header-link" href="#">About us</a>
                </li>
                <li class="nav-item dropdown header-item">
                    <a class="nav-link dropdown-toggle header-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" style="background-color: var(--background-secondary)">
                        <a th:if="!${session.sessionId}" class="dropdown-item dropdown-link" href="http://localhost:8080/login">Login</a>
                        <a th:if="${session.sessionId}" class="dropdown-item dropdown-link" href="logout">Logout</a>
                        <a class="dropdown-item dropdown-link" href="http://localhost:4200/registration">Sign up</a>
                        <a th:if="${session.sessionId}" class="dropdown-item dropdown-link" href="http://localhost:8080/wishlist">Wishlist</a>
                        <a th:if="${session.sessionId}" class = "dropdown-item dropdown-link" href="http://localhost:8080/recommended">Recommended for you</a>
                        <a th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}" class = "dropdown-item dropdown-link" href="http://localhost:8080/userList">Users List</a>
                        <a th:if="${session.sessionId} AND ${session.user} AND ${session.user.amministratore}" class = "dropdown-item dropdown-link" href="http://localhost:8080/reports">Reports List</a>
                        <a th:if="${session.sessionId} AND ${session.user}" class = "dropdown-item dropdown-link" th:href="|http://localhost:4200/reviews?jsessionid=${session.sessionId}|">Your Reviews</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class = "container-fluid py-4">
        <div class="w-100 text-center" th:unless="${session.sessionId} AND ${session.user}">
            <h1 class = "text-white" style="font-weight: bold">Not Authorized</h1>
        </div>
        <div class="w-100" th:if="${session.sessionId} AND ${session.user}">
            <div class = "text-center text-white" th:if="${giochi.isEmpty()}">
                <h1 style="font-weight: bold">Your wishlist is empty</h1>
                <a class="btn btn-lg button button-primary" th:href="|http://localhost:4200/games?jsessionid=${session.sessionId}|">Back to home page</a>
            </div>
            <div class = "row" th:unless="${giochi.isEmpty()}">
                <div class = "col-12 text-center">
                    <h1 class = "text-white" style="font-weight: bold">Wishlist</h1>
                </div>
                <div th:id="${gioco.id}" th:attr="gameid=${gioco.id}" th:each="gioco : ${giochi}" class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                    <div class = "card" style="background-color: var(--background-secondary)">
                        <img class="card-img-top" th:src="${gioco.immagine}" alt="Not Found">
                        <div class="card-body">
                            <h5 th:text="${gioco.titolo}" class="card-title text-white"></h5>
                            <a th:href="|http://localhost:4200/games/${gioco.id}?jessionid=${session.sessionId}|" class="btn btn-lg button button-primary">Visit</a>
                            <button th:onclick="|removeWishlistEntry(${gioco.id})|" class="btn btn-lg button button-delete">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>